header {
  background-color: darkgrey;
  grid-area: encabezado;
}

body {
  background-color: rgb(251, 205, 255);
}


/* no sirve
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;

}
*/
.card img {
  width: 100%;
  height: 50%;

}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

.card{
  margin: 3%;
}

.move {
  margin: 5%;
}